.header{
  display: flex;
  flex-direction: row;
  width: 350px;
  height: 50px;
  justify-content: space-between;
  padding-top: 9px;
  position: fixed;
  z-index: 100;
  padding-left: 20px;
  background-color: rgb(50, 50, 50);
}
.left-section{
  display: flex;
}
.right-section{
  display: flex;
}
h2{
  color: white;
  font-family: Roboto, Arial;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 20px;
}
.newchat-icon,
.filter-icon{
  height: 30px;
  width: 37px;
}
.filter-icon{
  margin-right: 25px;
}
.search-bar{
  position: fixed;
  padding-top: 65px;
  background-color: rgb(50, 50, 50);
  z-index: 80;
}
.search{
  width: 320px;
  display: flex;
  margin-left: 28px;
  padding-top: 0.5px;
  padding-top: 0.5px;
  padding-left: 15px;
  background-color: rgb(33, 32, 32);
  color: rgba(238, 235, 235, 0.845);
  height: 29px;
  border-radius: 7px;
  outline: none;
  border-bottom: 3px solid rgb(6, 188, 6);
  border-top: 1.5px solid rgb(109, 108, 108);
  border-right: 1.5px solid rgb(109, 108, 108);
  border-left: 1.5px solid rgb(109, 108, 108);
}
.newchat-icon:hover,
.filter-icon:hover{
  padding: 5px;
  border-radius: 7px;
  background-color: rgba(155, 154, 154, 0.3);
}
.new-chat-icon,
.filter-icons{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.new-chat-icon .tooltip,
.filter-icons .tooltip{
  position: absolute;
  font-family: Roboto, Arial;
  color: white;
  font-size: 11px;
  background-color: rgb(52, 52, 52);
  padding: 5px 5px;
  margin-left: 15px;
  border: 1.5px solid rgb(40, 39, 39);
  border-radius: 5px;
  margin-bottom: 85px;
  opacity: 0;
  transition: opacity 0.015s;
  pointer-events: none;
} 
.filter-icons .tooltip{
  white-space: nowrap;
  margin-right: 30px;
}
.new-chat-icon:hover .tooltip,
.filter-icons:hover .tooltip{
  opacity: 1;
}